@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:ital,wght@0,400;1,200&family=Work+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* <!-- HEADER --> */
.headerSection {
  position: fixed;
  width: 100%;
  /* position: fixed; */
  /* top: 0; */
  background-color: #eaebec;
  z-index: 100;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: black;
}
li a:hover {
  color: rgb(0, 17, 255);
}

/*    <!-- CENTER IMAGE --> */

.backdropImg {
  background-image: url(./assets/backdrop.jpg);
  background-repeat: no-repeat;
  background-clip: border-box;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 200;
}
.centerTextButton {
  position: absolute;
  /* top: 40%; */
  left: 35%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  bottom: 44%;
}
.centerButton {
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 35%;
  left: 45%;
  background-color: blueviolet;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.fristText{
  font-size: 35px;
  color: #fff;
  line-height: 1.5;
}
.secondText{
  font-size: 25;
  color: #fff;
  line-height: 1.5;
}
.thrdText{
  font-size: 22;
  color: #fff;
  line-height: 1.5;
}





/*      <!-- SECOND CENTER IMAGE -->  */

.centerCover {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 30px;
}
.text1{
  font-size: 25px;
  padding: 20px;
}
.sec{
  color: green;
  padding: 20px;

}
.img-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-div {
  width: 50%;
  padding: 10px;
}

.img-one {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}
.divCovers {
  width: 50%;
}

/* <!-- MEET OUR TEAM --> */

.meetTeam {
  /* background-image: url("./assets/bat-two.jpg"); */
  width: 100%;
  /* height: 60vh; */
  background-color: rgb(63, 63, 63);
}

.teamText {
  text-align: center;
  padding: 20px 0;
  line-height: 1.5;
}

.headTeam {
  font-size: 30px;
  color: #fff;
}
.headSecTeam {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}
.teamRole {
  color: #78ec5a;
}
.headThrTeam {
  color: #fff;
  font-size: 20px;
}

.temamThumb{
  width:100%;
  height:200px;
  border-radius: 5px;

}

.meetEmp{
  background-color: #000;
  color: #1865b3;
  text-align: center;
  border-radius: 5px;
}

.meetTeamImageRows {
  /* margin: 0 6%; */
  display: flex;
  justify-content: space-evenly;
  /* position: relative; */
  padding: 20px 0;
}


/*   <!-- OUR SERVCES --> */

.servMainClass {
  /* height: 70vh; */
  width: 100%;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  padding: 5% 0;
}

.servHeadingText {
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
}

.bodyArt {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutCou {
  text-align: justify;
}

.couName {
  font-size: 20px;
  color: rgb(72, 230, 98);
}
.couDet {
  line-height: 1.2;
}
.bodySec {
  width: 20vw;
  height: 30vh;
  margin: 25px;
  border-radius: 5px;
  box-shadow: red;
  border: 1px solid #ccc;
}
i {
  background-color: rgb(72, 230, 98);
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
  margin: -16%;
}

/*       <!-- NEWSLETTER --> */

.newLet {
  /* height: 60vh; */
  width: 100%;
  background-image: url("./assets/travel.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.newLetText {
  padding: 10% 0;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
}

.newInputsSetIt {
  background-color: #696968;
  border-style: none;
  border-radius: 5px;
}
::placeholder {
  color: #fff;
  opacity: 1;
}

.newInputs {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: -300%;
  right: 37%;
}

.newInputsBut {
  padding: 10px;
  color: #fff;
  /* position: absolute; */
  /* bottom: 35%;
  left: 45%; */
  background-color: rgb(75, 230, 114);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

/*  <!-- OUR WORK -->  */

.ourWorkSection {
  /* height: 70vh; */
  background-color: rgb(70 69 69);
  padding: 20px;
}
.workHeadings {
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.workImgHead{
  /* border: 1px solid red; */
  padding: 10px;
  display: flex;
  /* margin: 0 15%; */
  padding: 1% 14%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.one{
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

/*-----  <!-- OUR PRICING --> ------*/

.ourPric {
  background-color: #1865b3;
}

.pricAnchor {
  color: rgb(238, 85, 85);
}

.pricText {
  font-size: 22px;
  color: #000;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}
.pricDetails {
  padding: 2% 5%;
  display: flex;
  justify-content: space-evenly;
}
.secOnePric {
  width: 100%;
  background-color: #696968;
  border-radius: 5px;
  margin: 10px;
}

.secOnePricContainer {
  border-radius: 5px;
}
.itesmsText {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.secOnePricContainer .itesmsText p {
  padding: 10px;
  color: #fff;
}
.starter {
  background-color: rgb(167, 165, 165);
}

.pricButton {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  background-color: rgb(78, 78, 185);
}
.secOnePric:first-child {
  background-color: #292929;
}
.secOnePric:nth-child(3) {
  background-color: #292929;
}
.secOnePric:last-child {
  background-color: #78ec5a;
}
.secOnePric:nth-child(2) {
  background-color: #78ec5a;
}

/* --------  CONTACT US -------- */

.contactHeader{
  /* border: 1px solid red; */
  /* height: 70vh; */
  background-image: url("./assets/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0;
}
.contactHeadText {
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  padding: 20px;
}
form{
  width: 100%;
}

.inpName {
  display: flex;
  justify-content: center;
  padding: 1% 8%;
  gap: 10px;
}
.namInp,
.emInp,
.subInp {
  padding: 1%;
  width: 100%;
  background-color: #949494;
  border-style: none;
  border-radius: 5px;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

textarea {
  background-color: #949494;
  opacity: 1;
  border-style: none;
  border-radius: 5px;
  width: 100%;
}
.contactSubButton {
  cursor: pointer;
  padding: 1% 6%;
  border-style: none;
  border-radius: 5px;
  color: #706d6d;
  background-color: #78ec5a;
}
